<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AmosBatista.ComicsServer.Core.Properties.Settings.ComicsServerConnectionString"
            connectionString="Data Source=198.71.225.145;Initial Catalog=ComicsServer;User ID=adm_amos;Password=750@freeza"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>